- provide(:title, t('.title'))

.container.my-5.bg-white
  .row
    .col-sm-12
      %h3
        %i.fa.fa-balance-scale.fa-3x
        定义你的导航菜单
        %span.text-danger
          (!菜单层级请勿超过两级)

  .row.p-5.mb-5.border.border-primary
    .col-sm-4
      %table.text-center.table-bordered.table-sm
        %thead.thead-light
          %tr
            %th{:scope => "col"}
              = Setting.pages.name
            %th{:scope => "col"}
              上级菜单
        %tbody
          - @pages.each_with_index do |page, index|
            %tr
              %td
                = page.name
              %td
                = select_tag "page_parent", options_for_newsite_draft_navbar(@pages, page) , :include_blank => true, :class=>"form-control", :'data-current' => "#{page.id}"
    .col-sm-8
      .tree
        %ul
          %li
            %a{:href => "#"}
              = @website.name
            %ul#menu-tree-container
              - @menus.each do |menu|
                %li
                  %a{:href => "#"}
                    = menu.name
                  - if menu.children.size > 0
                    %ul
                      - menu.children.each.each do |item|
                        %li
                          %a{:href => "#"}
                            = item.name
    .col-sm-12.mt-5
      .row
        .col-sm-3.offset-sm-1
          = link_to '上一步', edit_newsite_path(@website), :class => "btn btn-primary"
        .col-sm-3.offset-sm-5
          = link_to '下一步', draft_edit_newsite_path(@website), :class => "btn btn-success"
