- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-9.ml-sm-auto.col-lg-10.p-3{:role => "main"}
      .card.shadow.rounded-0.mb-3
        .card-header.bg-info.text-white.rounded-0
          %h5
            = link_to websites_path, :class => "button button-border button-rounded button-caution pull-right  bg-white" do
              = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 
        .card-body
          .container-fluid
            .row
              .col-md-12
                %table.text-center.table-bordered.table-sm{:'data-toggle' => "table", :"data-pagination"=>"true", :"data-search" => "true",:'data-advanced-search'=>"true", :'data-id-table'=>"advancedTable"}
                  %thead.thead-light
                    %tr
                      %th{:scope => "col"} #
                    
                      %th{:scope => "col"}
                        = Setting.documents.title
                      %th{:scope => "col"}
                        = Setting.documents.erb_link
                      %th{:scope => "col"}
                        = Setting.documents.html_link
                      %th{:scope => "col"}
                        = Setting.documents.status
                      %th{:scope => "col"}
                  %tbody
                    - @documents.each_with_index do |document, index|
                      %tr
                        %td{:scope => "row"}
                          = index+1
                      
                        %td
                          = document.title
                        %td
                          = document.erb_link
                        %td
                          = document.html_link
                        %td
                          = document.status
                        %td
                          .container-fluid
                            .row
                              = link_to website_document_path(@website, index), :class => "text-info col" do
                                = fa_icon "search"

