.container-fluid
  .row.justify-content-sm-center
    .col-sm-12
      = form_for @medical_draft do |f|
        - if @medical_draft.errors.any?
          #error_explanation
            %h2= "#{pluralize(@medical_draft.errors.count, "error")} prohibited this buyer from being saved:"
            %ul
              - @medical_draft.errors.full_messages.each do |msg|
                %li= msg
      
        .form-group.row
          = f.label Setting.medical_drafts.name, :class => "col-sm-3 text-right"
          .col-sm-9
            = f.text_field :name, :class => "form-control"
          
      
      
        -#
          .form-group.row
            = f.label "关联对象", :class => "col-sm-1 control-label"
            .col-sm-11
              = f.fields_for :medical_majors do |medical_major|
                = render 'medical_major_fields', f: medical_major 
              .links
                = link_to_add_association "添加", f, :medical_majors, :class => "btn btn-success"
      
        .form-group.row
          .col-sm-3.offset-sm-2
            = f.submit '保存', :class => "btn btn-success"
          .col-sm-3.offset-sm-1
            = link_to '返回', medical_drafts_path, :class => "btn btn-danger"
