.home-footer
  .container
    .row-15
      .col-md-15
        %ul.footer-list
          %li.head
            买家指南
          %li
            = link_to nil do
              新手上路
          %li
            = link_to nil do
              常见问题
      .col-md-15
        %ul.footer-list
          %li.head
            卖家支持
          %li
            = link_to nil do
              加盟注入
          %li
            = link_to nil do
              卖家中心
          %li
            = link_to nil do
              常见问题
      .col-md-15
        %ul.footer-list
          %li.head
            关于科技创新卷
          %li
            = link_to nil do
              政策介绍
          %li
            = link_to nil do
              申请与使用
          %li
            = link_to nil do
              科技券纳入服务
          %li
            = link_to nil do
              视频帮助
      .col-md-15
        %ul.footer-list
          %li.head
            关于平台
          %li
            = link_to nil do
              关于我们
          %li
            = link_to nil do
              服务条款
          %li
            = link_to nil do
              法律声明
      .col-md-15
        %ul.footer-list
          %li.head
            联系我们
          %li
            = link_to nil do
              400-600-800
          %li
            = link_to nil do
              jilin@163.cn
          %li
            = link_to nil do
              在线客服
